/*
/* CSS declarations go here */



.navbar-default {
background-color: white;
border-collor: black;
}
.navbar-default .navbar-brand {
color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
color : #5E5E5E;
}
.navbar-default .navbar-brand > li > a {
color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #333;
}


body {
    background-image: url("images/checkerboard_red.png");
background-size: 300% 600%;
}

h1 {
color: white

}
p {
color: black;
float:right;
padding-right: 400px; 
padding-top: 50px;
font-size: 150%;
background-color: azure;
}

#id1{
    padding: 10px;
    background-color:blanchedalmond;
    float:left;
}

h2 {
color: white
}

#id2{
    width:200px;
    height:200px;
    border:0;
    float:right;
}
*/
