
/* CSS declarations go here */

.btn-Position{
  text-align: center;
}

.navbar-default {
background-color: black;
border-color: white;
}
.navbar-default .navbar-brand {
color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
color : white;
}
.navbar-default .navbar-brand > li > a {
color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: white;
}
.postText{
  border-left-color: white;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
  background-color: white;
}
.contactForm{
  text-align: center;
  margin-top: 150px;
}
.well-grey{
    background-color: lightblue;
    margin-top: 1cm;
    border-radius: 5px;
}
#inputPost{
    margin-top: 1cm;
}
.btnss{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
body {
    background-image: url("images/black.JPG");
    background-size: 300% 600%;

}

h1 {
    color: white
}


.bodytext {
    color: black;
    text-align: center;
    padding: 30px;
    min-height: 150px;
    background-color:white ;
}
#img2{
  margin-left: 465px;
  margin-top: 100px;
}
p {
    color: white;
    text-align: center;
    padding: 0px;
    font-size: 150%;
    background-color:grey ;
}

#id1{
    padding: 10px;
    background-color:white;
    float:left;
}

h2 {
color: black
}

#id2{
    width:200px;
    height:200px;
    border:10px;
    margin-top: 20px;
}

#para{
    margin-right: 20px;
    width: 30%;
    float:right;
}

#fullPara{
    float:center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom:20px;
}

#img{
    position: relative;
    width: 30%;
    margin-left: 20px;
}

#loc{
    text-align: center;
}

#text {
    background-color:white;
    margin-left: 468px;
    margin-right: 468px;
    text-align: center;
}


.editBox label:before {

    color: #3498db;
    cursor: hand;
}
.editBox input[type=checkbox]:checked + label:before {
    content: "Save";
    color: #333;
    cursor: hand;
}
.well-rounded {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: lightblue;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 19px;
}

#form {
    color: black;
    text-align: center;
    padding: 50px;
    min-height: 310px;
    font-size: 150%;
    background-color:white ;
    margin-left: 450px;
    margin-right: 450px;

}

#response {
    color: black;
    text-align: center;
    padding: 50px;
    font-size: 175%;
    background-color:white ;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 195px;
    margin-bottom: 300px;
}

#rooms {
    color: black;
    text-align: center;
    padding: 50px;
    background-color: white ;
}

#room1 {
    margin: 10px 5px 0 0;
}

#room2 {
  margin: 10px 5px 0 0;
}

#room3 {
  margin: 10px 5px 0 0;
}
